# Build
target/
*.class
*.jar
*.war
*.ear

# Logs
*.log
*.log.*

# IDEs
.idea/
*.iml
out/
.vscode/
.project
.classpath
.settings/
bin/

# Arquivos compactados grandes
*.tar
*.tar.*
*.zip
*.tgz

# Executáveis
*.exe
*.msi
*.deb

# Assinaturas
*.sig

# Maven
.mvn/
!.mvn/wrapper/maven-wrapper.jar
