# ============================
# Java / Maven
# ============================

target/
*.class
*.jar
*.war
*.ear

# Maven
.mvn/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
*.log.*

# IDEs
# IntelliJ
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/
bin/

# VSCode
.vscode/

# Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos compactados grandes
*.tar
*.tar.*
*.zip
*.tgz

# Executáveis
*.exe
*.msi
*.deb

# Assinaturas
*.sig

# Não ignore estas pastas! (essenciais)
# src/
# pkg/
